<section class="container p-2">
    <ul>
        <li>Name : {{group.name}} </li>
        <li>Description : {{group.description}} </li>
    </ul>

    <h2>Squad</h2>
    <p>
        <table class="table" width="500" bgcolor="black">
            <tr bgcolor="white">
                <th width="200">Player Name</th>
                <th width="200">Team Name</th>
                <th width="200">Nationality</th>
                <th width="200">Age</th>
                <th width="200">Position</th>
            </tr>
            {{#each group.players}}
            <tr bgcolor="white" align="center">
                <td> {{this.playerName}} </td>
                <td> {{this.teamName}} </td> 
                <td> {{this.nationality}} </td> 
                <td>{{this.age}}</td>
                <td> {{this.position}} </td> 
                <td>
                    <form action="/site/groups/{{group.id}}/players/{{this.id}}/delete" method="POST">
                        <input type="submit" value="del">
                    </form>
                </td>
            </tr>
            {{/each}}
        </table>
    </p>

    <hr>
    <a href="/site/competitions/{{group.competition.code}}/season/{{group.year}}/teams", class="btn btn-secondary"> Add Player </a> 
    <a href="/site/groups/{{group.id}}/updateForm" class="btn btn-primary"> Update group</a>
</section>