<section>
    <h1>Group {{group.name}} {{group.year}}</h1>
    {{#each teams}}
    <a href="#{{this.name}}">{{this.name}}</a>
    {{/each}}

    <h1>List of players</h1>
        {{#each teams}}
        <div id="{{this.name}}">
            <h2>{{this.name}}</h2>
            <h4> Country: {{this.country}} </h4>
            <table class="table" >
                <tr>
                    <th>Name</th>
                    <th>Position</th>
                    <th></th>
                </tr>
                {{#each this.squad}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.position}}</td>
                    <td>
                        <form action="/site/groups/{{../../group.id}}/players" method="POST">
                            <input type="hidden" name="playerId" value="{{this.playerId}}">
                            <input type="submit" value="add", class="btn btn-primary">
                        </form>
                    </td>
                </tr>
                {{/each}}
            </table>
        </div>
        {{/each}}
            
</section> 